h2 {
    font-family: Verdana;
    font-size: 50px;
}

h3 {
    font-family: Verdana;
    font-size: 25px;
}

#login {
    font-family: Verdana;
    display: flex;
    flex-direction: row;
}

input {
    color: grey;
}

button {
    color: grey;
}

a {
    color:black;
}