
.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

.dashboard-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;       
  height: 100vh;
  background-color: lightgray;
  z-index: 10;
}

.dashboard-content {
  margin-left: 60px;
  min-height: 100vh;
  background-color: white;
}

