html, body, #root { height: 100%; }
body { display: block; }           /* overrides Vite’s flex centering */
#root { max-width: none; padding: 0; }

.dashboardPage {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.topHalf h2 {
    color: black;
}

.leftSide h2 {
    color: black;
}

.leftSide p {
    color: black;
}

.dashBoardMessage p {
    color: black;
}

.dashBoardMessage {
    background-color: grey;
}