
.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: white;
}

.dashboard-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;       
  height: 100vh;
  background-color: rgb(194, 189, 189);
  z-index: 10;
  padding: 20px 0;
  border-radius: 0 12px 12px 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.dashboard-sidebar .sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 75px;
  height: 82%;
}

.dashboard-sidebar .sidebar-spacer {
  flex: 1;
}

.dashboard-content {
  margin-left: 76px;
  min-height: 100vh;
  background-color: white;
}

