.dashboardPage {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.topHalf h2 {
  color: black;
}

.leftSide h2 {
  color: black;
}

.leftSide p {
  color: black;
}

.dashBoardMessage p {
  color: black;
}

.dashBoardMessage {
  background-color: grey;
}
