.forgot-page .forgot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.forgot-page .left-side {
  background-color: rgb(194, 189, 189);
}

.forgot-page .right-side {
  position: relative;
  background-color: white;
  color: black;
  padding-top: 150px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
}
.forgot-page .right-side h1 {
  margin-bottom: 40px;
}
.forgot-page .right-side input {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 60px;
  margin-bottom: 75px;
  padding: 12px;
  background-color: rgb(194, 189, 189);
  border: none;
  border-radius: 8px;
}
.forgot-page .right-side button {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 60px;
  margin-bottom: 20px;
  padding: 12px;
  background-color: rgb(194, 189, 189);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.forgot-page .back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50% !important; /* perfect circle */
  background-color: black !important;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
