@import "tailwindcss";

@theme {
  /*Foundation */
  --color-bg-main: #f6f6f6; /* Main app background */
  --color-bg-sidebar: #eaeaea; /* Sidebar background */
  --color-bg-surface: #ffffff; /* Card/Container backgrounds */
  --color-bg-surface-hover: #f3f4f6; /* Hover state for interactive cards */

  /*Text*/
  --color-text-primary: #1f1f1f; /* Main headings */
  --color-text-secondary: #5f5f5f; /* Subtitles, labels, secondary info */
  --color-text-muted: #8a8a8a; /* Placeholder text, timestamps, less important details */
  --color-text-on-accent: #ffffff; /* Text on top of primary accent colors (white text on black button) */

  /*Structure*/
  --color-border-default: #e5e7eb; /* Standard card borders */
  --color-border-hover: #d1d5db; /* Border color on hover */
  --color-border-track: #e5e7eb; /* Background track progress bar */

  /*Accents*/
  --color-accent-primary: #000000; /* Primary color for main buttons and active elements */
  --color-accent-highlight: #3b82f6; /*  color for progress bar fills and text hovers */

  /* --- Icons --- */
  --color-icon-default: #1f1f1f; /* unselected icon color */
  --color-icon-muted: #8a8a8a; /* Less prominent icons */

  /*Status Colors*/
  --color-status-error-bg: #fef2f2; /*currently light pink */
  --color-status-error-border: #fecaca; 
  --color-status-error-text: #b91c1c; /*currently dark red */

  --color-status-success-bg: #f0fdf4; 
  --color-status-success-border: #bbf7d0;
  --color-status-success-text: #15803d;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}
