.loginPage .login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.createAccountPage .createAccount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}
.leftSide h2 {
  color: black;
}

.rightSide h2 {
  color: black;
}

.rightSide h3 {
  color: black;
}

.rightSide p {
  color: black;
}

.login {
  display: flex;
}

.leftSide {
  background-color: grey;
  width: 100%;
  height: 100%;
}

.login .rightSide {
  flex: 1;
  background-color: white;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.input-field {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.buttons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.createAccount {
  display: flex;
}

.rightSide {
  flex: 1;
  background-color: white;
}
