#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.loginPage .login {
  height: 100vh;
  width: 100vh;
}

.createAccountPage .createAccount {
  height:100vh;
  width: 100vw;
}

#leftSide h2 {
  color: black;
}

#rightSide h2 {
  color: black;
}

#rightSide h3 {
  color: black;
}

#rightSide p {
  color: black;
}

.login {
  display: flex;
}

.login #leftSide {
  background-color: grey;
  width: 550px;
  height: 550px;
}

.login #rightSide {
  flex: 1;
  background-color: white;
}

.createAccount {
  display: flex;
}

.createAccount #leftSide {
  background-color: grey;
  width: 550px;
  height: 550px;
}

.createAccount #rightSide {
  flex: 1;
  background-color: white;
}